html {
  background-color:#F9F9F9;
  font-family:Montserrat;
}
#top-menu{
  background-color:#ECEDEF;
  border-radius:0 0 30px 30px;
  padding-left:30px;
  
}

 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
.icon{
  color:#9A999A;
  font-size:20px;
  background-color:#F9F9F9;
  padding:10px;
  border-radius:30px;
  display:inline-block;
  margin-bottom:30px;
  margin-top:50px;
}
ul li{
list-style:none;
 display: inline-block;
 margin-left:20px;
}
.user{
  color:#9A999A;
  font-size:20px;
  background-color:#F9F9F9;
  padding:10px;
  border-radius:30px;
  display:inline-block;
  float:right;
  margin-right:20px;
  margin-top:20px;
}
.text-uppercase{
  text-transform:uppercase;
}
.welcome-text{
  color:#9A999A;
  font-size:30px;
  margin-top:30px;
  text-align:left;
}

