html {
  background-color:#0D0D0D;
  font-family: 'Poppins', sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}

 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
#welcome h1{
  color:#F2F2F2;
  font-weight:600px;
  font-size:40px;
}
#welcome h3{
  color:#F2F2F2;
  font-size:20px;
}
#section-part h2{
  color:#F2F2F2;
  font-size:30px;
  
  
}
#section-part{
  margin-top:50px;
}
#part{
  background-color:#F2F2F2;
  border-radius:6px;
  padding-bottom:20px;
  text-align:left;
  width:100px;
  margin-top:35px;
  margin-right:10px;
  margin-left:10px;
  transition:color .5s;
    
}
ul li{
list-style:none;
 display: inline-block;
 margin-left:20px;
}
#part:hover{
  background-color:#F2F2F2;
  color:#0D0D0D;

}
#bottom-menu {
  background-color: #262626;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius:30px 30px 0 0;
  padding-top:35px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
}
#bottom-menu ul li a{
  font-size:20px;
  color:#0D0D0D;
}
#bottom-menu ul li{
  background-color:#F2F2F2;
  border-radius:70px;
  padding:10px;
}